/* 
Por buenas prácticas este es el orden sugerido para crear los estilos en CSS.
    1. Posicionamiento
    2. Modelo de caja (box model)
    3. Tipografía
    4. Visuales (Shadow-box, border-radius)
    5. Otros 
*/

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}


:root {
    /* Colores */
    --bitcoin_orange: #F7931A;
    --soft_orange: #FFE9D5;
    --secondary_blue: #1A9AF7;
    --soft_blue: #E7F5FF;
    --warm_black: #201E1C;
    --black: #282623 ;
    --grey: #BABABA ;
    --off_white: #FAF8F7 ;
    --just_white: #FFF;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%; 
    min-width: 32.4rem;
    height: 33.4rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 15rem;
    height: 2.4rem;
    align-self: center;
}

header .Header--title-container {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    align-self: center ;
}

 header .Header--title-container h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just_white);
}

 header .Header--title-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 2rem auto;
    color: var(--soft_orange);
}

header .Header--title-container .Header--button {
    /*Posicionamiento*/
    position: absolute;
    top: 310px;
    left: calc(50% - 115px);
    display: block;
    /* Box Model */
    width: 22.9rem;
    height: 4.8rem;
    padding: 1.2rem 1.6rem;
    border: none;
    /*Tipografía*/
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm_black);
    text-decoration: none;
    /*Visuales*/
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /*Otros*/
    background-color: var(--off_white);
}

header .Header--title-container .Header--button span {
    display: inline-block;
    width: 1.3rem;
    height: .8rem;
    margin-left: 1rem;
    background-image: url("./Assets/arrow_down.svg");
    background-color: var(--off_white);
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off_white);
}

main .Main-exchange--container {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.Main-exchange-container--title {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
}

.Main-exchange--container .Background-img {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-image: url("./Assets/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Main-exchange--container h2 {
    height: 2.6rem;
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.Main-exchange--container p {
    margin-top: 50px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.Main-currency--table, .Secondary-currency--table {
    width: 70%;
    height: 36rem;
    min-width: 23.5rem;
    max-width: 50rem;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.Main-currency--table .Currency-table--title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin_orange)
}

.Currency-table--container, .Secondary-currency-table--container {
    width: 90%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto;
}

.Currency-table--container table, .Secondary-currency-table--container table {
    width: 100%;
    height: 100%;
}

.Currency-table--container td, .Secondary-currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just_white);
}

.Currency-table--container .Table__top-left, .Secondary-currency-table--container .Table__top-left {
    border-radius: 15px 0 0 0;
}

.Currency-table--container .Table__top-right, .Secondary-currency-table--container .Table__top-right {
    border-radius: 0 15px 0 0;
}

.Currency-table--container .Table__bottom-left, .Secondary-currency-table--container .Table__bottom-left {
    border-radius: 0 0 0 15px;
}

.Currency-table--container .Table__bottom-right, .Secondary-currency-table--container .Table__bottom-right {
    border-radius: 0 0 15px 0;
}

.Currency-table--container .Table__right, .Secondary-currency-table--container .Table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.Table__right .Down {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url("./Assets/trending-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Table__right .Up {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url("./Assets/trending-up.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Currency-table--date {
    width: 20rem;
    height: 3rem;
    margin: 1.5rem auto;
    padding: 8px;
    background-color: var(--soft_orange);
    border-radius: 8px;
}

.Currency-table--date p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm_black);
}

.Secondary-currency--table .Secondary-currency-table--title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary_blue)
}

.Secondary-currency-table--date {
    width: 20rem;
    height: 3rem;
    margin: 1.5rem auto;
    padding: 8px;
    background-color: var(--soft_blue);
    border-radius: 8px;
}

.Secondary-currency-table--date p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm_black);
}

/* Feature section */ 

.Main-feature-section {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 32rem;
    max-width: 90rem;
    margin: 0 auto;
    padding: 20px 0;
    background-color: var(--warm_black);
}

.Insections-logo {
    position: absolute;
    left: calc(50% - 18px);
    top: -12px;
    width: 4rem;
    height: 2.4rem;
}

.Main-feature-section .Main-feature__title {
    display: inline-block;
    width: 90%;
    height: 5.5rem;
    margin: 50px auto 20px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just_white);
}

.Main-feature-section .Second-feature__info {
    display: inline-block;
    width: 90%;
    height: 5rem;
    margin: 20px auto;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: #808080;
}

.Main-feature-section .Main-feature__container {
    width: 90%;
    height: 15.5rem;
    margin: 10px auto;
    border-radius: 15px;
    background-color: var(--black);
}

.Main-feature__container img {
    width: 2.4rem;
    height: 2.4rem;
    margin: 1.4rem 1.6rem;
}

.Main-feature__container p:nth-child(2) {
    height: 1.8rem;
    margin-left: 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just_white);
}

.Main-feature__container p:nth-child(3) {
    margin: 1rem 1.6rem; 
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/* Girl image section */

.Bitcoinbaby {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 90rem;
    min-width: 32rem;
}

.Bitcoinbaby img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

